<% if (currentUser) { %>
    <h1>
        WELCOME BACK <%= currentUser.username %>
    </h1>
    <a href="/log-out">LOG OUT</a>
<% } else { %>
    <h1>
        Sign in to see post a message and see who posted the other ones!
    </h1>
<% } %>





<h2>Messages</h2>

<div>
    <ul>
        <% for (let i=0; i < messages.length; i++) { %>
            <li>
                <% if (currentUser) { %>
                <div>
                    <% if (currentUser.isMember) { %>
                    <div><strong><em>Username: <%= messages[i].account_id.username %></em></strong></div>
                    <% } %>
                    <span>
                        <%= messages[i].message_date %>
                    </span>
                </div>
                <% } %>
                <div>
                    <h5>
                        <%= messages[i].title; %>
                    </h5>
                </div>
                <div>
                    <%= messages[i].message %>
                </div>
                <% if (currentUser && currentUser.isAdmin) { %>
                <div>
                    <form action="/message/<%= messages[i]._id %>/delete" method="post">
                        <input type="hidden" name="message_id" value="<%= messages[i]._id %>">
                        <button type="submit">Delete</button>
                    </form>
                </div>
                <% } %>
            </li>
            <%} %>
    </ul>
</div>

<% if (currentUser) { %>
<div class="">
    <form method="POST" action="/message">
        <div>
            <div>
                <div><label for="">title</label></div>
                <input type="text" name="title" class="">
            </div>
            <div>
                <div><label class="font-bold" for="">Message</label></div>
                <textarea class="" name="message" id="" cols="55" rows="2"></textarea>
            </div>
        </div>
        <button type="submit" class="">Add new message</button>
    </form>
</div>
<% } %>